<!DOCTYPE html>
<html>
<head>
    <big><title style="color:rgb(131, 226, 180)">AI Noise Removal</title></big>
    <style>
        body{
            margin:0;
        }
        .cover {
            width:100%;
            height:300px;
            background-image: url("{{url_for('static',filename='cover.jpg')}}");
            background-size: cover;
            background-position: center;
        }
    </style>
</head>

<body style="background-color: black;">
    <center>
    <div class="cover"></div>
    

<h1 style="color:antiquewhite">AI-Based Audio Noise Removal</h1>
<a href="https://cloudconvert.com/mp3-converter" style="color: rgb(166, 166, 241);">CLICK TO CONVERT YOUR FILE TO MP3</a>
<br>
<br>
<form method="POST" enctype="multipart/form-data">
    <input type="file" name="audio" required style="color:rgb(147, 221, 221)">
    <button type="submit">Remove Noise</button>
</form>

<hr>
<form>
    <table align="center" cellpadding="30">
    <tr>
        <td>

{% if uploaded_audio %}
<h3 style="color:rgb(198, 234, 16)">Uploaded Audio</h3>
<audio controls>
    <source src="{{ url_for('uploaded_file', filename=uploaded_audio) }}">
</audio>

<h4 style="color:rgb(198, 234, 16)">Uploaded audio Waveform</h4>
<img src="{{ url_for('static', filename=uploaded_wave) }}" width="500">
{% endif %}
        </td>
        <td></td>
        <td>

{% if cleaned_audio %}
<h3 style="color:rgb(198, 234, 16)">Cleared Audio (AI Reduced)</h3>
<audio controls>
    <source src="{{ url_for('cleaned_file', filename=cleaned_audio) }}">
</audio>

<h4 style="color:rgb(198, 234, 16)">Cleared audio Waveform</h4>
<img src="{{ url_for('static', filename=cleaned_wave) }}" width="500">
        </td>
    </tr>
    </table>
</form>
<br>
<a href="{{ url_for('cleaned_file', filename=cleaned_audio) }}" download style="color: rgb(166, 166, 241);">
    Download Cleared Audio
</a><br><hr><center>
<p style="color: beige;">
This AI-based audio noise reduction system uses Fourier Series to decompose the audio signal<br>
 into its frequency components. By analyzing these components in the frequency domain,<br> 
 unwanted noise is suppressed while maintaining the clarity of the original audio.
</p>
{% endif %}
</center>
    </center>
    <hr>
    <br>
    <br>
    <hr>


</body>
</html>





